.App{
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-Size: cover;
  background-Repeat: no-repeat;
  background-image: url('./Components/Assests/background.png');
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.line{
  width:50%;
  border-color: rgb(197, 216, 214);
  position:absolute;
  top:160px;
  left:350px;
  opacity: 0.6;
}
